
body{
    font-family: 'Inter',sans-serif;
}
.primary{
    color: #14b8a6;
}
.secondary{
    color:#64748b;
}
nav ul li {
    list-style:none;
    text-decoration:none;
}
.instagram-link{
    text-decoration:none;
    font-weight: 700;
    color:#14b8a6;
}
.tailwind{
    text-decoration:none;
    font-weight: 700;
    color: rgb(14 165 233);
}

/* navbar */
.nav{
    background-color: transparent;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    display: flex;
    align-items: center;
    z-index: 10;
}
.navbar-fixed{
    position: fixed;
    z-index:9999;
    background-color:white;
    opacity: 0.8;
    backdrop-filter:blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.items-center{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.px-4{
    margin-top:1rem;
    padding-left: 0;
    padding-right: 10rem;   
 
}
.hidden{
    display: none;
}

.navmenu{
    position:absolute;
    padding-top:1.25rem;
    background-color:#fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    max-width: 250px;
    width:100%;
    right:1rem;
    top:100%;
 

}


.ul{
    display:block;
    padding-right:3rem;
    padding-left:1rem;
    margin-bottom:2rem;
}


.beranda{
    text-decoration:none;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #14b8a6;
    display:block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.navbar{
    display:flex;
    align-items:center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn-hamburger{
    display:block;
    position:absolute;
    right: 1rem;
    border:none;
    background-color:transparent;
}


.garis1{
    width:30px;
    height:2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    display:block;
    background-color:#0f172a;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top left;
}
.garis2{
    width:30px;
    height:2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    display:block;
    background-color:#0f172a;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.garis3{
    width:30px;
    height:2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    display:block;
    background-color:#0f172a;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: bottom left;
}
.list-menu{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #334155;
    padding-top:0.5rem;
    margin-left:2rem;
    text-decoration:none;
    list-style:none;
    display:flex;

}
.list-menu:hover{
    color:#14b8a6;
}
.group:hover{
    color:#14b8a6;
}

.hamburger-active > span:nth-child(1){
    transform: rotate(45deg);
 
}
.hamburger-active > span:nth-child(2){
    transform: scale(0);
}
.hamburger-active > span:nth-child(3){
    transform: rotate(-45deg);
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  

  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1320px) {
    .container {
      max-width: 1320px;
    }
  }
  



/* section home */
.section-home{
    padding-top: 9rem;
    border-radius: 0.375rem;
}
.pembungkus1{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:around;
}

.menu1{
    width:100%;
    align-self:center;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:1rem;

}
.h1{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color:#14b8a6;
}
.nama{
    display: block;
    font-weight: 700;
    color:#0f172a;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top:0.25rem;
}
.h2{
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #64748b;
}
.unpam{
    color:#0f172a;
    font-weight: 500;
    margin-bottom:2.5rem;
}
.hubungi-saya{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color:#fafafa; 
    background-color:#14b8a6;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 9999px;
    text-decoration: none; 
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
.hubungi-saya:hover{
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    opacity: 0.8;
}

.menu2{
    width:100%;
    align-self: flex-end;
    padding-left: auto;
    padding-right: auto;
    display:flex;
    margin-left:150px;
    justify-content:center;
    
}

.m-top{
    margin-top: 2.5rem;
}
.gambar{
    max-width: 100%;
    border-radius: 0.375rem;
    justify-content:around;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.9);
}
/* blog */
.section-blog{
    padding-top:9rem;
    padding-bottom: 8rem;
}
.bentuk-border{
    width:100%;
    margin-top: 2.5rem;
    border-radius: 0.75rem;
    background-color:#475569;
    overflow:hidden;
    padding-left:4rem;
    padding-right:1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.pembungkus-blog{
    display:flex;
    flex-wrap:wrap;
}
.span{
    padding-left:2rem;
    padding-rigth:2rem;
    margin-bottom: 0.75rem;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color:#14b8a6;
}
.font{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color:#64748b;
}

/* section about */
.section-about{
    padding-top: 9rem;
    padding-bottom: 8rem;
    border-radius: 0.375rem;

}

.scroll-smooth{
    scroll-behavior: smooth;
}
.pembungkus-about{
    display:flex;
    flex-wrap:wrap;
}

.full{
    width:100%;
    padding-left:1rem;
    padding-rigth:1rem;
}

.link{
    width:100%;
    padding-left: 4rem;
    padding-right: 1rem;
}
.tentang-saya{
    font-weight: 700;
    text-transform: uppercase;
    color:#14b8a6 ;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;

}
.mariberteman{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color:#0f172a ;
}
.p{
    width:100%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #64748b;
}
.callme{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color :#64748b;
    margin-bottom : 1.5rem;
    width:100%;
}

.center-item{
    display:flex;
    align-items: center;
    padding-bottom:20px;
}
.whatsapp{
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #0f172a;
    background-color: #fafafa;
 

}
.whatsapp:hover{
    background-color:#14b8a6;
    border:none;

 
}
.line{
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #0f172a;
    background-color: #fafafa;
 

}
.line:hover{
    background-color:#14b8a6;
    border:none;
}
.instagram{
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #0f172a;
    background-color: #fafafa;
 

}
.instagram:hover{
    background-color:#14b8a6;
    border:none;
}
.telegram{
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #0f172a;
    background-color: #fafafa;
 

}
.telegram:hover{
    background-color:#14b8a6;
    border:none;
}

.section-pekerjaan{
    width:100%;
    background-color:#f1f5f9;
    padding-top: 9rem;
    padding-bottom: 4rem;
    border-radius: 0.375rem;

}
.element-pekerjaan{
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.element-satu{
    display:flex;
    flex-wrap:wrap;
}
.kotak-pekerjaan{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 36rem;
    text-align: center;

}
.kotak-judul-pekerjaan{
    margin-bottom: 2.5rem;
    width:100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left:auto;
    margin-right:auto;
}
.kotak-tiga{
    margin-bottom: 2.5rem;
    width:100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

}
.bagian-pekerjaan{
    margin-bottom: 0.75rem;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color:#475569;
}
.bagian-pekerjaan:hover{
    color:#0f172a;
}
.judul-pekerjaan{
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color:#14b8a6;
}
.textile{
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    justify-content: space-around;
    color:#14b8a6;
}
.bungkus-gambar-textile{
    margin-bottom: 2.5rem;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.teknisi{
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color:#14b8a6;
}

.bungkus-gambar-teknisi{
    margin-bottom: 2.5rem;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.batas-atas-bawah{
    padding-top:2rem;
    padding-bottom:2rem;
}
.w-full{
    width:100%;
}
/* Gallery */
.section-gallery{
    background-color:#1e293b;
    padding-top: 9rem;
    padding-bottom: 4rem;  
    border-radius: 0.375rem;
}
.element-gallery{
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.kotak-gallery{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 36rem;
    text-align: center;

}
.gallery{
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color:#14b8a6;
}
.wrap-gallery{
    display:flex;
    flex-wrap: wrap;
    
}
.wrap-wrap-gallery{
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem; 
}
.wfulll{
    width:100%;
}
.wfulll:hover{
    transform: scale(1.25);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 1000ms;

}
.bungkus-gambar-gallery{
    margin-bottom: 2.5rem;
    overflow:hidden;
    positition:relative;
    border-radius: 0.75rem;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    background-color:#fff;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.bungkus-gambar-gallery:hover{
    transform: scale(.95);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

}
.gambar-gallery{
    margin-bottom: 3rem;
    padding:1rem;    
}
/* Blog */
.section-blog{
    background-color:#e2e8f0;
    display:flex;
    padding-top: 9rem;
    padding-bottom: 8rem;
    width:100%;
    border-radius: 0.375rem;
}
.elemet-blog{
    width:100%;
    padding-left:1rem;
    padding-right:1rem;
}
.judul-blog{
    display:block;
    margin-bottom: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: rgb(0 0 0);
    text-decoration:none;

}
.judul-blog:hover{
    color:#14b8a6;
}
.judul-section-blog{
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color:#14b8a6;
}
.kotak-blog{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 36rem;
    text-align: center;

}
.bungkus-blog{
    margin-bottom: 2.5rem;
    overflow:hidden;
    border-radius: 0.75rem;
    background-color:#f1f5f9;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.jarak{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.paragraf{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color:#64748b;
}
.baca-selengkapnya{
    border-radius: 0.5rem;
    background-color:#14b8a6;
    text-decoration:none;
    color:white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}
.baca-selengkapnya:hover{
    opacity:0.8;
}
/* contact */
.section-contact{
    padding-top: 9rem;
    padding-bottom: 8rem;
    background-color:#1e293b;
    border-radius: 0.375rem;

}

.judul-section-contact{
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color:#14b8a6;
}
.kotak-contact{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 36rem;
    text-align: center;

}

/* alamat */
.section-alamat{
    background-color:#f1f5f9;
    padding-top: 9rem;
    padding-bottom: 4rem;
    border-radius: 0.375rem;

}
.kotak-alamat{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 36rem;
    text-align: center;

}
.judul-alamat{
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color:#14b8a6;
}
.wrap-alamat{
    display:block;
    flex-wrap:wrap;
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;

}
.wrap-wrap-alamat{
    margin-bottom: 2.5rem;
    overflow:hidden;
    border-radius: 0.375rem;
    background-color:#fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
}
.wrap-alamat:hover{
    border-radius: 0.375rem;
    box-shadow:none;
}
.wrap-wrap-alamat:hover{
    transform: scale(1.25);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 1000ms;

}
.contact-me{
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color:white;
}
.kotak-form{
    width:100%;

}

.kolom{
    margin-bottom: 2rem;
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nama-kolom{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color:#14b8a6;
}
.input-nama{
    width:100%;
    border-radius: 0.375rem;
    background-color:#e2e8f0;
    padding: 0.75rem;
    color:black;

}
.input-nama:focus{
    border-color:#14b8a6;
    outline:none;
    box-shadow:#14b8a6;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.input-email{
    width:100%;
    border-radius: 0.375rem;
    background-color:#e2e8f0;
    padding: 0.75rem;
    color:black;

}
.input-email:focus{
    border-color:#14b8a6;
    outline:none;
    box-shadow:#14b8a6;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.input-pesan{
    height: 8rem;
    width:100%;
    border-radius: 0.375rem;
    background-color:#e2e8f0;
    padding: 0.75rem;
    color:black;

}

.submit{
    width:100%;
    border-radius: 9999px;
    background-color: #14b8a6;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color:white;
    transition-duration: 500ms;
}
.submit:hover{
    opacity:0.8;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.input-pesan:focus{
    border-color:#14b8a6;
    outline:none;
    box-shadow:#14b8a6;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/* footer */
.footer{
    background-color:#0f172a;
    padding-top: 6rem;
    padding-bottom: 3rem;
}
.flex{
    display:flex;
}
.flex-wrap{
    flex-wrap:wrap;
}
.bungkus-border{
    width:100%;
    border-top-width: 1px;
    border-color: rgb(51 65 85);
    padding-top:2.5rem;
}
.content{
    margin-bottom:1.25rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
.creator{
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: rgb(100 116 139);

}
@media (min-width: 1280px) {
    .wrap-wrap-gallery{
        width: 33.3%;
        box-sizing:border-box;
    }
}
@media (min-width: 1024px) {
    .kotak-form{
        margin-left: auto;
        margin-right: auto;
        width: 66.666667%;
    }
    .contact-me{
        font-size: 3rem;
        line-height: 1;
    }
    .element-blog.isi{
        width:35%;
    }
    .wrap-wrap-gallery{
        width:50%;
    }
    .navmenu{
        display:block;
        position: static;
        background-color: transparent;
        max-width: 100%;
        box-shadow:none;
        border-radius: none;
    }   
    .kotak-judul-pekerjaan{
        width:46%;
    }
    .ul{
        display:flex;
    }
    .btn-hamburger{
        display:none;
    }
    .container {
        max-width: 1024px;
      }
    .menu1{
        width: 40%;
    }
    .menu2{
        width: 40%;
    }
    .full{
        width: 50%;
        
    }
    .link{
        width: 40%;
    }
    .p{
        width:70%;
    }
    .kotak-dua{
        width:50%;
    }
    .mariberteman{
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
}
